<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
<head>
    <title>Bootdesk :: Books</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h1>New book</h1>
            <form th:action="@{/createBook/{id}(id=${author.id})}" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="bookName" placeholder="Book name"/>
                </div>
                <button class="btn btn-primary btn-block"><i class="glyphicon glyphicon-send"></i>Add new book</button>
            </form>
            <h1>Update book</h1>
            <form th:action="@{/updateBook/{id}(id=${author.id})}" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="bookName" placeholder="Book name"/>
                    <input class="form-control" name="bookId" placeholder="Book id"/>
                </div>
                <button class="btn btn-primary btn-block"><i class="glyphicon glyphicon-cloud-upload"></i>Update</button>
            </form>
            <h1>Delete book</h1>
            <form th:action="@{/deleteBook/{id}(id=${author.id})}" method="POST">
                <div class="form-group">
                    <input class="form-control" name="bookId" placeholder="Book id"/>
                </div>
                <button class="btn btn-primary btn-block"><i class="glyphicon glyphicon-remove"></i>Remove</button>
            </form>
        </div>
        <div class="col-lg-8">
            <a th:href="@{/viewAuthor}">&larr; All authors</a>
            <h1>Books</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        bookID
                    </th>
                    <th>
                        Book
                    </th>
                </tr>
                </thead>
                <tbody>

                    <tr th:each="book : ${author.bookList}">
                        <td th:text="${book.id}"></td>
                        <td th:text="${book.name}"></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>