<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:c="http://java.sun.com/jsp/jstl/core">TESTBOOTDATA
<head>
    <title>Bootdesk :: Authors</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=0.9"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-4" th:include="create :: #_author_form"></div>
        <div class="col-lg-8">
            <h1>Authors</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Author
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="author : ${authors}">
                        <td th:text="${author.id}"></td>
                        <td>
                            <a th:href="@{/viewBook/{id}(id=${author.id})}" th:text="${author.name}"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


</body>
</html>